<table>
  <thead>
    <tr>
      <th>image</th>
      <th>nickname</th>
      <th>Questions</th>
      <th>following</th>
      <th>follower</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% customers.each do |customer| %>
      <tr>
        <td>
          <%= link_to customer_path(customer) do %>
            <%= attachment_image_tag customer, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
          <% end %>
        </td>
        <td><%= customer.nickname %></td>
        <td><%= customer.questions_count %></td>
        <td><%= link_to customer.following_count, followings_customer_follows_path(customer), class:"btn btn-outline-primary" %></td>
        <td><%= link_to customer.followed_count, followers_customer_follows_path(customer), class:"btn btn-outline-primary" %></td>
        <td>
          <%= render "customer/follows/follow", customer: customer %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>