<p>
  <strong>image:</strong>
  <%= attachment_image_tag @customer, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
</p>

<p>
  <strong>nickname:</strong>
  <%= @customer.nickname %>
</p>

<p>
  <strong>introduction:</strong>
  <%= @customer.introduction %>
</p>

<p>
  <strong>rank:</strong>
  <%= @customer.rank %>
</p>

<% if customer_signed_in? && @customer_id == current_customer.id %>
  <p>
    <strong>総経験値:</strong>
    <%= @customer.experience_point %>
  </p>

  <p>
    <strong>exp for next rank:</strong>
    <%= @customer.next_rank_exp %>
  </p>
<% end %>

<div>
  <%= render "customer/follows/follow", customer: @customer %>
</div>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
