<% questions.each do |question| %>
  <div class="card bg-secondary mb-3">
    <%= link_to artisan_question_path(question), class:"text-light" do %>
      <div class="row no-gutters">
        <div class="col-md-2 card-header d-flex justify-content-center">
          <%= attachment_image_tag question, :question_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
        </div>
        <div class="col-md-10">
          <div class="card-header d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-start align-items-center">
              <div class="mx-3 badge bg-dark text-light"><%= question.format %></div>
              <div class="mx-3">
                <h4 class="card-title"><%= question.title %></h4>
              </div>
            </div>
            <div class="d-flex justify-content-end align-items-end">
                <% if question.tags.present? %>
                  <i class="fas fa-tags"></i>
                  <% question.tags.each do |tag| %>
                    <span class="badge rounded-pill bg-primary text-light my-1"><%= tag.name %></span>
                  <% end %>
                <% else %>
                  <p>登録されているタグはありません</p>
                <% end %>
              <div class=""></div>
            </div>
          </div>
          <div class="card-body bg-light text-dark d-flex justify-content-between align-items-end">
            <div><p class="card-text"><%= question.sentence %></p></div>
            <div>正答率：<%= question.correct_answer_rate  %>%</div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

