<%= format %>
<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :customer_id, :value => current_customer.id %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :sentence %>
    <%= form.text_area :sentence %>
  </div>

  <div class="field">
    <%= form.hidden_field :format, :value => format %>
  </div>

  <% case format
      when "bool" %>

      <% when "writing" %>

      <% else %>
        <div id="answers">
          <%= link_to_add_association '選択肢の追加', form, :answers, data: { association_insertion_method: 'append' }, render_options: {locals: { question_format: format }} %>
          <%= form.fields_for :answers do |answer| %>
            <%= render "answer_fields", f: answer, question_format: format %>
          <% end %>
        </div>
  <% end %>

  <div class="field">
    <%= form.label :explanation %>
    <%= form.text_area :explanation %>
  </div>

  <div class="field">
    <%= form.label :question_image %>
    <%= form.attachment_field :question_image, placeholder: "問題に画像が必要であれば" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>