<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>
      <ul>
        <% question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :customer_id, :value => current_customer.id %>
  <%= form.hidden_field :format, :value => question.format %>

  <div class="card bg-secondary text-light mb-3">

    <div class="row">
      <div class="col-md-3 card-header d-flex justify-content-center align-items-center">
        <%= form.label :format %>
      </div>
      <div class="col-md-9 card-body bg-light text-dark">
        <div class="badge text-light <%= "format_" + question.format %>"><%= question.format_i18n %></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 card-header d-flex justify-content-center align-items-center">
        <%= form.label :question_image %>
      </div>
      <div class="col-md-9 card-body bg-light text-dark">
        <div><%= attachment_image_tag question, :question_image, :fill, 120, 120, format: 'jpg', fallback: "no_image_square.jpg", size:'120x120' %></div>
        <div class="my-1"><%= form.attachment_field :question_image %></div>
        <div class="my-2"><%= form.check_box :auto_tag_image, {}, true, false %> 画像からタグを自動生成する</div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 card-header d-flex justify-content-center align-items-center">
        <%= form.label :title %>
      </div>
      <div class="col-md-9 card-body bg-light text-dark">
        <%= form.text_field :title, placeholder: "タイトル" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 card-header d-flex justify-content-center align-items-center">
        <i class="fas fa-tags"></i><%= form.label :tags %>
      </div>
      <div class="col-md-9 card-body bg-light text-dark">
        <div class="bg-light"><%= form.text_field :tag_list, value: question.tag_list.join(','), class:"tag_form" %></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 card-header d-flex justify-content-center align-items-center">
        <%= form.label :sentence %>
      </div>
      <div class="col-md-9 card-body bg-light text-dark">
        <div><%= form.text_area :sentence, size:"75*4", placeholder:"問題文" %></div>
        <div class="my-2"><%= form.check_box :auto_tag_sentence, {}, true, false %> 問題文からタグを自動生成する</div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 card-header d-flex justify-content-center align-items-center">
        <%= form.label :answers %>
      </div>
      <div class="col-md-9 card-body bg-light text-dark">
        <div id="answers" class="card-body bg-light">
          <% case question.format
               when "bool" %>
                <%= form.fields_for :answers do |answer| %>
                  <%= render "answer_fields", f: answer, question_format: question.format %>
                <% end %>

            <% when "writing" %>
                <%= form.fields_for :answers do |answer| %>
                  <%= render "answer_fields", f: answer, question_format: question.format %>
                <% end %>

            <% else %>
                <%= link_to_add_association '選択肢の追加', form, :answers, data: { association_insertion_method: 'append' }, render_options: {locals: { question_format: question.format }} %>
                <%= form.fields_for :answers do |answer| %>
                  <%= render "answer_fields", f: answer, question_format: question.format %>
                <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 card-header d-flex justify-content-center align-items-center">
        <%= form.label :explanation %>
      </div>
      <div class="col-md-9 card-body bg-light text-dark">
        <%= form.text_area :explanation, placeholder: "解説", size:"75*4" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 card-header d-flex justify-content-center align-items-center">
        <%= form.label :answer_image %>
      </div>
      <div class="col-md-9 card-body bg-light text-dark">
        <div><%= attachment_image_tag @question, :answer_image, :fill, 120, 120, format: 'jpg', fallback: "no_image_square.jpg", size:'120x120' %></div>
        <div class="my-1"><%= form.attachment_field :answer_image, placeholder: "解説画像" %></div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-success" %>
  </div>
<% end %>