<% questions.each do |question| %>
  <tr>
    <td><%= question.customer.nickname %></td>
    <td><%= question.title %></td>
    <td><%= question.sentence %></td>
    <td><%= question.format %></td>
    <td><%= attachment_image_tag question, :question_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></td>
    <td><%= question.favorites_count %></td>
    <td><%= question.answered_time %></td>
    <td><%= question.correct_answered_time %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Artisan', artisan_question_path(question) %></td>
    <td></td>
  </tr>
<% end %>