<p>問題：<%= @question.sentence %></p>

<%= form_with url: result_question_path, remote: true do |f| %>
  <% case @question.format
    when "writing" %>
      <p>記述</p>
      <%= f.text_field :your_answers %>
    <% when "choose_multi" %>
      <p>選択肢(複数選択)</p>
      <%= f.collection_check_boxes :your_answers, @question.answers.all, :id, :content, {checked: 1, include_hidden: false} do |answer| %>
        <p><%= answer.label {answer.check_box + answer.text} %></p>
      <% end %>
    <% else %>
      <p>選択肢(1つ選択)</p>
      <%= f.collection_check_boxes :your_answers, @question.answers.all, :id, :content, {checked: 1, include_hidden: false}, {onclick: "choose_one(this)", class: "choose_one_list"} do |answer| %>
        <p><%= answer.label {answer.check_box + answer.text} %></p>
      <% end %>
  <% end %>
<%= f.submit "回答", class: "btn btn-success", onclick: "display_none(this)" %>
<% end %>

<div id="result"></div>

<h4 class="my-3">コメント一覧</h4>
<table class=''>
  <thead>
    <tr>
      <th>ユーザー</th>
      <th>内容</th>
      <th>時間</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="comment">
    <%= render 'customer/comments/comment', question: @question %>
  </tbody>
</table>

<h4 class="my-3">コメントする</h4>
<div>
  <%= form_with(model:[@question, Comment.new], remote: true) do |f| %>
    <%= f.text_area :body, rows:'2', placeholder: "コメントをここに", class:"new-comment" %>
    <%= f.submit %>
  <% end %>
</div>

<%= link_to 'Back', questions_path %> |
<%= link_to 'Randam Artisan', artisan_question_path(Question.all.offset(rand(Question.all.count)).first) %>