<div class='search_tag'>
  <%= form_with url: questions_path, method: :get do |f| %>
    <%= f.text_field :content, placeholder: 'キーワード', value: @content, class:'index_search' %>
  <% end %>
</div>

<div class="">
  <% if @tags.present? %>
    <% @tags.each do |tag| %>
      <%= link_to "#{tag.name}(#{tag.taggings_count})", questions_path(content: tag.name) %>
    <% end %>
  <% else %>
    <p>登録されているタグはありません</p>
  <% end %>
</div>

<h3>Questions</h3>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Title</th>
      <th>Sentence</th>
      <th>Format</th>
      <th>Question image</th>
      <th>Favorites</th>
      <th>Answered time</th>
      <th>Correct answered time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="search_tbody">
    <%= render "tbody", questions: @questions %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %> |
<%= link_to 'Randam Artisan', artisan_question_path(Question.all.offset(rand(Question.all.count)).first) %>