<h1>Question and Answers</h1>
<div class="card bg-secondary mb-3 shadow">
  <div class="row no-gutters">
    <div class="col-md-2 card-header d-flex justify-content-center align-items-center">
      <%= attachment_image_tag @question, :question_image, :fill, 100, 100, format: 'jpg', fallback: "no_image_square.jpg", size:'100x100' %>
    </div>
    <div class="col-md-10">
      <div class="card-header text-light">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex justify-content-start align-items-center">
            <div class="badge text-light <%= "format_" + @question.format %>"><%= @question.format_i18n %></div>
            <div class="mx-3"><%= render "customer/favorites/favorite_count", question: @question %></div>
          </div>
          <div class="tag_lists text-right"><%= render "tags", tags: @question.tags %></div>
        </div>
        <div class="">
          <h4 class="card-title"><%= @question.title %></h4>
        </div>
      </div>
      <div class="card-body bg-light text-dark d-flex justify-content-between align-items-end">
        <div><p class="card-text"><%= @question.sentence %></p></div>
        <div>
          正答率：<%= @question.correct_answer_rate %>%
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <% @question.answers.each do |answer| %>
          <li class="list-group-item">
            <% if answer.is_correct %>
              <i class="fas fa-star text-warning"></i>
            <% end %>
            <%= answer.content %>
          </li>
        <% end %>
      </ul>
      <div class="card-body bg-light d-flex justify-content-between align-items-center">
        <div><p class="card-text"><%= @question.explanation %></p></div>
        <div><%= attachment_image_tag @question, :answer_image, :fill, 100, 100, format: 'jpg', fallback: "no_image_square.jpg", size:'100x100' %></div>
      </div>
      <div class="card-footer bg-light">
        <div class="my-1">回答数：<%= @question.answered_time %></div>
        <div class="my-1">正解数：<%= @question.correct_answered_time %></div>
        <div class="my-1">Unique Impression：<%= @question.impressions_count %></div>
        <div class="my-1">作成日：<%= @question.created_at.strftime('%Y/%m/%d') %></div>
      </div>
    </div>
  </div>
</div>

<span class="mr-2"><%= link_to 'Edit', edit_question_path(@question), class:"fa fa-edit" %></span>
<span class="mr-2"><%= link_to 'Back', questions_path, class:"fas fa-question-circle" %></span>
<span class="mr-2"><%= link_to 'Artisan', artisan_question_path(@question), class:"fas fa-utensils" %></span>