<header class="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="site_logo">
      <a href="/" class="navbar-brand">
        <%= image_tag "QAlogo.png", size: "133x60" %>
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li><%= link_to 'Artisan', artisan_question_path(Question.all.offset(rand(Question.all.count)).first), class: 'fas fa-utensils nav-link text-light' %></li>
        <li><%= link_to '設問検索', questions_path, class: 'fas fa-question-circle nav-link text-light' %></li>
        <li><%= link_to 'ランキング', customers_path, class: 'fas fa-crown nav-link text-light' %></li>
        <li><%= link_to 'ログイン', new_customer_session_path, class: 'fas fa-blog nav-link text-light' %></li>
      </ul>
    </div>
  </nav>
</header>