<!DOCTYPE html>
<html>
  <head>
    <title>QuestionArtisan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <% if request.fullpath.include?("/admin") %>
      <%= render "layouts/admin/header" %>
      <%= render "layouts/admin/main" %>
      <%= render "layouts/admin/footer" %>
    <% elsif customer_signed_in? %>
      <%= render "layouts/customer/header" %>
      <%= render "layouts/main" %>
      <%= render "layouts/customer/footer" %>
    <% else %>
      <%= render "layouts/header" %>
      <%= render "layouts/main" %>
      <%= render "layouts/footer" %>
    <% end %>
  </body>
</html>
